<header>
    <div class="container">
      <div class="logo">
       <img src="assets/logo-universitet.png">
      </div>

      <input type="checkbox" id="check">
      <label for="check" class="menuToggle">
        <div class="spinner diagonal-1"></div>
        <div class="horizontal"></div>
        <div class="spinner diagonal-2"></div>
      </label>

      <div id="sideMenu">
        <div class="menuLinks">
          <a routerLink="/">Startsida</a>
          <a routerLink="/courses">Kurser</a>
          <a routerLink="/framework">Ramschema</a>
        </div>
      </div>
    </div>
  </header>
