$primary-color: #1E3A8A; /* Blue */
$secondary-color: #FFFFFF; /* White */
$accent-color: #F97316; /* Orange */


header {
    background-color: $primary-color;
    color: white;
    padding: 10px 0;
    width: 100%;
    position: relative;
    z-index: 4;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
      position: relative;
      z-index: 4
    }
  
    .logo img {
      height: 50px;
    }

    #check {
      display: none;
    }

    .menuLinks a {
      color: white;
      text-decoration: none;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    .menuLinks a:hover {
      color: $accent-color;
    }

  }

  @media only screen and (max-width: 800px){
    .spinner, .horizontal {
      width: 25px;
      height: 3px;
      background-color: $secondary-color;
      margin-top: 5px;
      transition: transform 0.5s ease, opacity 0.5s ease;
      cursor: pointer;
    }

    #check {
      position: absolute; 
      right: 20px; 
      top: 50%; 
      transform: translateY(-50%); 
      z-index: 9;
      display: none; 
    }
  
    #sideMenu {
      position: absolute;
      top: -163px;
      left: 0;
      min-width: 100%;
      transition: top 1s ease;
    }
  
    .menuLinks {
      display: flex;
      flex-direction: column;
      background-color: lighten($primary-color, 15%);
      width: 100vw;
    }
  
    .menuLinks a {
      padding: 1rem;
      text-align: center;
      border-bottom: 1px solid $accent-color;
      color: white;
      text-decoration: none;
      display: block;
    }
  
    .menuLinks a:hover {
      background-color: $secondary-color;
    }
  

    #check:checked ~ #sideMenu {
      top: 63px;
    }

    #check:checked + .menuToggle .diagonal-1 {
      transform: rotate(43deg);
      transform-origin: top left;
    }

    #check:checked + .menuToggle .horizontal {
      opacity: 0;
    }

    #check:checked + .menuToggle .diagonal-2 {
      transform: rotate(-43deg);
      transform-origin: bottom left;
    }
  }
  

  @media only screen and (max-width: 400px){
    #sideMenu {
      left: 0px;
    }
  }
