.table-container {
    width: 80%;
    margin-inline: auto;
  }

  thead {
   background-color: #31525B;
   color: white;
  }

  th {
    padding: 10px;
    width: 100px;
  }

  tr:nth-child(even) {
    background-color: #B3DEE5;
  }

  td {
    text-align: center;
    padding: 10px;
  }