<h2>Kurser</h2>

<div class="table-container">

 <div id="input-container">
    <input type="text" id="filter" [(ngModel)] = "filterValue" (input) = "applyFilter()" placeholder="Sök kurs...">
    
    <select id="subject-select" [(ngModel)] = "selectedSubject" (change)= "filterSubjects()">
        <option>Välj ämne</option>
        <option *ngFor="let course of uniqueSubjects"> {{ course }} </option>
    </select> 
 </div>

<table class="course-table">
    <thead>
        <th (click)="sortCourseCode()" >Kurskod</th>
        <th (click)="sortCourseName()" >Kursnamn</th>
        <th>Ämne</th>
        <th>Poäng</th>
        <th>Kursplan</th>
        <th>Lägg till</th>
    </thead>

    <tbody>
        <tr *ngFor="let course of paginatedCourses">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.subject }}</td>
            <td>{{ course.points }}</td>
            <td><a [href]="course.syllabus" target="_blank" id="courseplan" >Kursplan</a></td>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" (click) = "addCourse(course)" id="addcourse-btn"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
        </tr>
    </tbody>

    <div id="page-controls">
        <button (click) = "previousPage()" [disabled] = "currentPage===1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg></button>
        <span>Page {{ currentPage }} of {{ filteredCourses.length  }}</span>
        <button (click) = "nextPage()" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></button>
    </div>
    
</table>
